/* General Styles */
#directions {
  font-weight: normal;
  max-width: 60rem;
  margin-bottom: 3rem;
}

h2 {
  text-align: center;
  margin: 3rem;
}

.container-small {
  max-width: 30rem;
  text-align: center;
}

/* Grid and node styles */
div.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

div.start-node {
  background-color: #f012be;
  transition: background-color 0.5s;
}

div.end-node {
  background-color: #ff4136;
  transition: background-color 0.5s;
}

div.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: blue;
}

div.wall-node {
  background-color: rgb(12, 53, 71);
}

div.shortest-path-node {
  background-color: #ff851b;
  transition: background-color 0.1s;
}

/* Animations */
/* Taken from Clement Mihailescu's github @ https://github.com/clementmihailescu/Pathfinding-Visualizer-Tutorial*/
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}
